<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Didier Mumengi</title>
  <link rel="stylesheet" href="css/biographie.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <% include layout/header %>
    <main class=main-content>
      <img class=photo src=images/dmumengi_mini.jpg alt="didier mumengi">
      <div class=description>
        <h1 class="dmumengi--name">Didier Mumengi</h1>
        <p class=dmumengi--bio>Didier Mumengi est né le 23 mai 1962 à Kinshasa. Écrivain, économiste et ancien ministre
          de l’information et porte-parole du gouvernement du président Mzee Laurent-Désiré Kabila, il fut le symbole
          de la résistance nationale lors de la guerre d’agression contre le RDC, déclenchée le 2 août 1999</p>
        <p class=dmumengi--bio>Il est consultant et formateur en Management des entreprises et en communication
          stratégique. L’intelligence économique et l’histoire forment ses deux grandes passions scientifiques. Auteur
          de plusieurs ouvrages politiques, économiques et historisants, notamment « Le baptême des baptisés » (Prix
          Lovo 2015), « Réécrire l’histoire » (Prix Européen de la Littérature Congolaise – Makomi 22016).</p>
        <p class=dmumengi--bio>Ses 20 années de carrière d’écrivain ont fait de lui le lauréat du Prix national du
          mérite de la Culture et Arts.</p>
        <p class=dmumengi--bio>En avril 2018, il lance le mouvement civique Tosekwa ! « Ressuscitons ! » au travers du
          Livre Bleu, ouvrage contenant 34 projets de société qui ouvre le débat des idées afin de « bâtir le Congo de
          demain ».</p>
      </div>
    </main>
  </div>
  <% include layout/footer %>
  <script src="js/index.js"></script>
</body>

</html>