<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/contact.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <% include layout/header %>
    <main class=main-content>
      <form action=# class=form--section>
        <div class=form--title><strong class=form--title--top>Contact Us</strong></div>
        <div class="form--inputs">
          <input type=text name=firstname id=firstname placeholder="First Name">
          <input type=text name=lastname id=lastname placeholder="Last Name">
          <input type=text name=email id=email placeholder="Enter your email">
          <textarea name=comment id=comment cols=30 rows=10 placeholder="Vôtre message"></textarea>
          <button type=submit class="btn-submit">Submit</button>
        </div>
      </form>
    </main>
  </div>
  <% include layout/footer %>
</body>

</html>