<!DOCTYPE html>
<html lang="fr">

<head>
  <% include layout/google-analytics %>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Didier Mumengi</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.2.0/css/all.css integrity=sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ
    crossorigin=anonymous>
</head>

<body>
  <div class="container">
    <% include layout/header %>
    <main class=main-content>

      <div class=main-presentation>
        <h1 class=main-title>Didier Mumengi</h1>
        <p class=description>Ecrivain, Homme Politique, Economiste</p><a href="/biographie" class=about-btn>A Propos</a>
      </div>
      <div class=social-media>
        <ul class=social-list>
          <li><a href="https://www.facebook.com/Dmumengi/" class="social-link facebook" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="https://twitter.com/dmumengi?lang=fr" class="social-link twitter" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.instagram.com/tosekwa/" class="social-link instagram" target="_blank"><i class="fab fa-instagram"></i></a></i></a></li>
        </ul>
      </div>
    </main>
  </div>
  <script src="js/index.js"></script>
</body>

</html>