<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Didier Mumengi</title>
  <link rel="stylesheet" href="css/livrebleu.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <% include layout/header %>
    <main class=main-content>
      <img src="images/banner3.jpg" alt="livre bleu banniere" class="main-image">
      <div class="main-description">
        Livre Bleu bientôt disponible.
        <span>Vous pouvez en attendant suivre l'actualité sur ce livre dans <a href="/tosekwatv">tosekwa tv</a></span>
      </div>
    </main>
  </div>
  <% include layout/footer %>
  <script src="js/index.js"></script>
</body>

</html>