<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Livres Didier Mumengi</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/livres.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- Header -->
        <% include layout/header %>
        <!-- Main content -->
        <main class="main-content">
            <div class="card">
                <img class="image" src="images/reecrire.jpg" alt="couverture du livre réécrire l'histoire">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Réécrire l'histoire</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">L'auteur montre que la réification des Africains par la traite négrière
                        et la colonisation est la véritable source des multiples crises qui endeuillent l'Afrique
                        noire. Professant que seule l'histoire permet aux peuples de répondre aux questions "Qui
                        sommes-nous ?", "Doù venons-nous ?" et "Où allons-nous ?", l'auteur invite les nations noires
                        d'Afrique et particulièrement son pays, la RDC, à se saisir de l'histoire comme de la clé de
                        leur renaissance, en reprenant conscience de leur véritable état intérieur. Ce livre ouvre donc
                        le chantier de "la décolonisation historiographique de la mémoire africaine"</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/Réécrire-lhistoire-Essai-Didier-Mumengi/dp/2343124299/ref=sr_1_2?ie=UTF8&qid=1526832920&sr=8-2&keywords=réécrire+l%27histoire"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_Réécrire_l_histoire?id=ECYnDwAAQBAJ"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/plaidoyer.jpg" alt="couverture du livre plaidoyer pour une histoire auto-biographique du congo">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Plaidoyer Pour une histoire autobiographique du congo</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">Réécrire l'histoire du Congo pour que le présent soit désormais
                        affranchi du passé. L'auteur proclame le passé égypto-nubien de l'histoire du Congo et en
                        appelle à la réécriture de cette histoire comme discipline pédagogique, comme
                        patrimonialisation muséographique, comme promotion des romans ou fictions historiques, comme
                        archéologie volontariste, comme culture mémorielle, comme création par des films, chansons,
                        contes, et comme politique de baptême et de débaptême des avenues et des villes... </p>

                    <div class="links">
                        <a href="https://www.amazon.fr/Plaidoyer-pour-histoire-autobiographique-Congo/dp/234311174X/ref=sr_1_1?s=books&ie=UTF8&qid=1526833556&sr=1-1&keywords=plaidoyer+pour+une+histoire"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_Plaidoyer_pour_une_histoire_autobio?id=s9rPDQAAQBAJ"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/bapteme.jpg" alt="couverture du livre plaidoyer pour une histoire auto-biographique du congo">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Le baptême des baptisés</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Roman</p>
                    </div>

                    <p class="description-text">Ce roman, à fort ancrage historique, n'est pas une simple évocation du
                        passé. C'est un récit engagé, combinant les attraits de la fiction et de l'information
                        documentaire. D'où venons-nous ? Comment sommes-nous devenus les Congolais d'aujourd'hui ?
                        Quels sont les effets contemporains de l'idée de l'Autre que nous a léguée Mani Soyo, notre
                        ancêtre de Mpinda qui, le tout premier, a posé son regard sur l'Européen en 1483 ?</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/baptême-baptisés-Roman-Didier-Mumengi/dp/2343064474/ref=sr_1_1?s=books&ie=UTF8&qid=1526838816&sr=1-1&keywords=bapteme+des+baptises"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_Le_baptême_des_baptisés_Roman?id=znj_CAAAQBAJ"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/pouvoir.jpg" alt="couverture du livre la revolution du pouvoir faire">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">La revolution du pouvoir-faire</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">Il n'y a ni pays prédestiné au développement, ni peuple condamné au
                        sous-développement. Comment bâtir un environnement national propice au partage des
                        connaissances essentielles ? Cet ouvrage met en exergue le besoin de transformation des
                        structures éducationnelles, formatives et culturelles, afin que la société congolaise accède à
                        une vie nationale intellectuellement et professionnellement aussi performante qu'épanouissante.</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/révolution-du-pouvoir-faire-Didier-Mumengi/dp/2336002256/ref=sr_1_5?s=books&ie=UTF8&qid=1526839018&sr=1-5&keywords=didier+mumengi"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_La_révolution_du_pouvoir_faire?id=hSqMpxkyO6oC"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/etats-unis.jpg" alt="couverture du livre les états-unis du bassin du congo">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Les états-unis du bassin du congo</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">La reconstruction de l'Afrique centrale dévastée plaide pour un
                        changement de regard tant sur ce qui fait la richesse d'une région que sur ce qui devrait
                        dorénavant faire valeur pour l'Afrique centrale. Cet ouvrage lance l'idée des Etats-Unis du
                        Bassin du Congo comme un projet de "co-développement" pour cette partie médiane de l'Afrique
                        façonnée par la nature pour être une éco-région confédérale.</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/Etats-Unis-Bassin-Congo-éco-région-co-développement-ebook/dp/B00D5QG690/ref=asap_bc?ie=UTF8"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_Les_Etats_Unis_du_Bassin_du_Congo?id=hpwM_2ERj04C"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/naissance.jpg" alt="couverture du livre La naissance du congo">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">La naissance du congo</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">Cet ouvrage confronte les Congolais à leur histoire, à leurs
                        faiblesses, à leurs atouts, à leurs richesses, à leurs maux. L'auteur souhaite tirer de ces
                        connaissances une conception neuve du rôle du Congo dans le monde, qui donne un sens à la
                        citoyenneté congolaise, ainsi qu'une nouvelle politique économique, alternative au
                        productivisme responsable des dérèglements climatiques.</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/naissance-Congo-lEgypte-Mbanza-Kongo/dp/2296070426/ref=sr_1_9?s=amazon-devices&ie=UTF8&qid=1526839822&sr=8-9&keywords=didier+mumengi"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_La_naissance_du_Congo?id=3ioNfr5T2O0C"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/sortir.jpg" alt="couverture du livre sortir de la pauvrete">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Sortir de la pauvreté</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">Pour réussir le redressement du Congo, il faut vaincre la fatalité du
                        sous-développement, développer la foi en la toute-puissance de la raison, entreprendre un
                        réveil cathartique des intelligences et engager le culte du travail opiniâtre. Rappelant que le
                        facteur de base du développement d'un pays est la qualité de son peuple et qu'il n'y a pas de
                        phénomène révolutionnaire sans formulation doctrinale, l'auteur prend le contre-pied de l'ordre
                        moral dominant et propose de nouveaux concepts opérationnels.</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/Sortir-pauvreté-révolution-sens-Congo/dp/2296017037/ref=asap_bc?ie=UTF8"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="https://play.google.com/store/books/details/Didier_Mumengi_Sortir_de_la_pauvreté?id=jPJQJ76u2EYC"
                            class="btn btn-google" target="_blank"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/panda.jpg" alt="couverture du livre panda farnana">
                <div class="description">
                    <div class="info-livres">
                        <h2 class="titre-livre">Panda farnana</h2>
                        <h2 class="autheur">Auteur: Didier Mumengi</h2>
                        <p class="genre">Genre: Essais</p>
                    </div>

                    <p class="description-text">Dans ce livre, Didier Mumengi esquisse les perspectives de la
                        rénovation de l'esprit congolais (RDC). Il tente de restituer à notre mémoire le combat d'un
                        homme : Mfumu Paul Panda Farnana, premier universitaire du pays et intellectuel engagé dans la
                        cause des Noirs, aux côtés de figures aussi emblématiques que Blaise Diagne, Du Bois, Simon
                        Kimbangu, Marcus Garvey. L'histoire intellectuelle et politique a pourtant négligé ce
                        personnage brillant alors qu'avec Stephano Kaoze, Panda Farnana marqua le point de départ de la
                        littérature congolaise au sens large et sens (sartrien) de la réflexion engagée.</p>

                    <div class="links">
                        <a href="https://www.amazon.fr/Panda-Farnana-universitaire-congolais-1888-1930/dp/2747584305/ref=sr_1_2?s=books&ie=UTF8&qid=1526840349&sr=1-2&keywords=panda+farnana"
                            class="btn btn-amazon" target="_blank"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <!-- <a href="#" class="btn btn-google"><i class="fab fa-google-play"></i>Acheter sur Google</a> -->
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
    </div>
    <% include layout/footer %>
    <script src="js/index.js"></script>
</body>

</html>