<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DM-test</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="css/livres.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <!-- Header -->
        <% include layout/header %>
        <!-- Main content -->
        <main class="main">
            <div class="card">
                <img class="image" src="images/reecrire.jpg" alt="couverture du livre réécrire l'histoire">
                <div class="description">
                    <h2 class="titre-livre">Réécrire l'histoire</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/plaidoyer.jpg" alt="couverture du livre plaidoyer pour une histoire auto-biographique du congo">
                <div class="description">
                    <h2 class="titre-livre">Plaidoyer Pour une histoire autobiographique du congo</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/pouvoir.jpg" alt="couverture du livre la revolution du pouvoir faire">
                <div class="description">
                    <h2 class="titre-livre">La revolution du pouvoir-faire</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/etats-unis.jpg" alt="couverture du livre les états-unis du bassin du congo">
                <div class="description">
                    <h2 class="titre-livre">Les états-unis du bassin du congo</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/naissance.jpg" alt="couverture du livre La naissance du congo">
                <div class="description">
                    <h2 class="titre-livre">La naissance du congo</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/sortir.jpg" alt="couverture du livre sortir de la pauvrete">
                <div class="description">
                    <h2 class="titre-livre">Sortir de la pauvreté</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="image" src="images/panda.jpg" alt="couverture du livre panda farnana">
                <div class="description">
                    <h2 class="titre-livre">Panda farnana</h2>
                    <h2 class="autheur">Auteur: Didier Mumengi</h2>
                    <p class="genre">Genre: Essais</p>

                    <p class="description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque
                        reprehenderit,
                        nemo
                        ex quia sed deserunt tempore in assumenda beatae nostrum laboriosam vel nobis, minus
                        perferendis, incidunt
                        eveniet neque. Doloribus, minus.Deleniti, voluptas? Enim in quod ea magnam necessitatibus
                        accusantium
                        accusamus impedit corrupti iusto dolorum? Sit porro nam illum laboriosam officia asperiores
                        nesciunt
                        doloremque, provident molestiae. Cupiditate quam eaque provident mollitia.</p>

                    <div class="links">
                        <a href="#" class="btn btn-google"><i class="fab fa-amazon"></i>Acheter sur Amazon</a>
                        <a href="#" class="btn btn-amazon"><i class="fab fa-google-play"></i>Acheter sur Google</a>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
    </div>
    <% include layout/footer %>
    <script src="js/index.js"></script>
</body>

</html>