/*=============================================
=            Header comment block            =
=============================================*/

.header{
  grid-area: h;
  width:100%;
  height: 6vh;
  background-color:var(--text-color-rgb);
  display:flex;
  justify-content:space-between;
  align-items: center;
  color: var(--link-color);
}

.logo{
  margin-left:1rem;
}
.nav-list{
  list-style: none;
  display:flex;
  justify-content: space-between;
}

.list-item{
  margin-right: 1rem;
  cursor: pointer;
}

.list-item:hover{
  color: var(--secondary-color);
}

.hammenu{
	display: none;
}


/*
**** dropdow item
**
**/

.dropdown-list{
	position: relative;
}

.dropdown-item{
	display: none;
	position: absolute;
	background-color: var(--text-color-rgb);
	top: 3vh;
	width: 6rem;
	padding: .4rem .4rem .4rem .1rem;
	color: var(--link-color);
	opacity:0;
}

.dropdown-item:hover{
	color: var(--secondary-color);
}

.dropdown-item:focus{
	display: block;
	opacity: 1;
}

.dropdown-list:hover .dropdown-item{
	display: block;
	opacity: 1;
}

/*=====  End of Header comment block  ======*/
