@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root{
	--primary-color: #0d0d0d;
	--primary-color-rgb: rgb(13,13,13);
	--primary-color-rgb: rgba(13,13,13,0.5);
	--secondary-color: #f2f2f2;
	--secondary-color-rgb: rgb(242,242,242);
	--secondary-color-rgb: rgba(242,242,242,0.5);
	--text-color: #404040;
	--text-color-rgb: rgb(64,64,64);
	--text-color-rgba: rgba(64,64,64,0.5);
	--link-color: #eab436;
	--link-color-rgb: rgb(234,180,54);
	--link-color-rgba: rgba(234,180,54,0.5);
	--main-color: rgb(241,242,246);
	--box-shadow:  rgba(115,115,115,0.3);
}

*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

a{
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

li{
	list-style-type: none;
}

/*=============================================
=            Container comment block            =
=============================================*/

.container{
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h "
    "m m m m m m m m m m m m "
		"f f f f f f f f f f f f "
  ;
	grid-template-columns: auto 100% auto;
}

/*=====  End of Container comment block  ======*/



/*=============================================
=            Header comment block            =
=============================================*/

.header{
  grid-area: h;
  width:100%;
  height: 6vh;
  background-color:var(--text-color-rgb);
  display:flex;
  justify-content:space-between;
  align-items: center;
  color: var(--link-color);
}

.logo{
  margin-left:1rem;
}
.nav-list{
  list-style: none;
  display:flex;
  justify-content: space-between;
}

.list-item{
  margin-right: 1rem;
  cursor: pointer;
}

.list-item:hover{
  color: var(--secondary-color);
}

.hammenu{
	display: none;
}


/*
**** dropdow item
**
**/

.dropdown-list{
	position: relative;
}

.dropdown-item{
	display: none;
	position: absolute;
	background-color: var(--text-color-rgb);
	top: 3vh;
	width: 6rem;
	padding: .4rem .4rem .4rem .1rem;
	color: var(--link-color);
	opacity:0;
}

.dropdown-item:hover{
	color: var(--secondary-color);
}

.dropdown-item:focus{
	display: block;
	opacity: 1;
}

.dropdown-list:hover .dropdown-item{
	display: block;
	opacity: 1;
}


/*=====  End of Header comment block  ======*/



/*=============================================
=            Main comment block            =
=============================================*/
  
.main-content{
  grid-area: m;
  display: flex;
  flex-direction: column;
  background-color: (var(--main-color));
}

.card{
	display:flex;
	justify-content:space-between;
	width:80%;
	margin: 3rem auto;
	height: 400px;
	border-bottom: 1px solid var(--text-color-rgba);
	padding-bottom: 5rem;
}

.description{
	color: var(--text-color);
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	margin: 1rem 1rem;;
}

.titre-livre{
  text-transform: uppercase;
	letter-spacing: .05rem;
	color: var(--primary-color);
	margin:0;
}
.autheur{
	margin: 0.5rem 0;
	font-size: 1rem;
}
.description .genre{
	margin-bottom:2.5rem;
}

.description-text{
	margin-bottom: 2rem;
	line-height: 1.5rem;
}

.image{
	display:flex;
	align-self:center;
	width: 300px;
	height: 408px;
	min-width: 300px;
	min-height: 408px;
	margin:0 1rem;
	box-shadow: 5px 5px 5px var(--box-shadow), -5px -5px 5px var(--box-shadow);
}
.links{
	display:flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.btn{
	all: unset;
	display:flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--link-color);
	width: 33%;
	min-height: 1.2rem;
	padding: 0.6rem;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: calc(100%-25%);
}

.fab{
	color: var(--text-color); 
	font-size: 1.5rem;
}
/*=====  End of Main comment block  ======*/


/*=============================================
=            Footer comment block            =
=============================================*/

footer{
	/* position: absolute;
	bottom:0; */
	margin-top: 3rem;
	width: 100%;
	height: 100px;
	background-color: var(--text-color);
	display: flex;
	justify-content: space-between;
	padding: .7rem .5rem;
	align-items: center;
}

footer div{
	height: 100%;
	display:flex;
	align-items:center;
	color: var(--secondary-color);
}

.footer-contact{
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	flex: 1;
}

.footer__label{
	color: var(--link-color);
	padding: 0 .4rem;
}

.footer-social{
	border-radius: 3px;
	flex: 2;
	justify-content: flex-end;
}

.footer-social{
	justify-content: center;
}

.footer-social .fab{
	margin: 0 .8rem;
	font-size: 2.4rem;
	cursor: pointer;
	color: var(--link-color);
}

.fab:hover{
	color: var(--secondary-color);
}

.footer-copy{
	flex: 1;
	justify-content: flex-end;
	text-align: right;
	padding: 0 .8rem;
}

/*=====  End of Footer comment block  ======*/

@media screen and (max-width: 1200px){

	.card{
		width: 100%;
	}
	.description-text{
		width: 100%;
	}
}

/*=============================================
=            Tablet comment block            =
=============================================*/
@media screen and (max-width: 840px){

	*{
		margin:0;
		padding:0;
	}
	/* à copier partout */
 
  .header{
		position: relative;
		width:100%;
		min-height: 3rem;
		background-color:var(--text-color-rgb);
	}
	
	.navbar{
		display:none;
	}
	.hammenu{
		display:flex;
		position: absolute;
		top: .5rem;
		right:1rem;
		font-size:1.6rem;
		cursor: pointer;
	}
	
	.nav-list{
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content: space-between;
	}
	
	.list-item{
		width:100%;
    padding: .5rem;
    border-bottom: 1px solid var(--link-color);
		height: 1.2rem;
	}
	.list-item a{
		width:100%;
		padding-left: 1rem;
	}

	.list-item:hover{
		color:#fff;
		background-color: var(--text-color);
	}

	.dropdown-item{
		position: absolute;
		left: 6rem;
		top:0;
		padding:.5rem 0;
	}

	.menu-arrow{
		transform: rotate(90deg);
	}

	.active-navbar{
		position: absolute;
		top:3rem;
		flex-direction:column;
		display: flex;
		background-color: var(--secondary-color);
		color: var(--link-color);
		width: 100vw;
		height: auto;
	}

	.content-margin{
		margin-top: 10rem;
	}

	.main-content{
		width:100%;
		height: auto;
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		display: flex;
		flex-direction:column;
		align-items: center;
		margin: 1rem auto;
		padding: 0;
		width: 100vw;
		height: auto;
		/* background-color: #eee; */
	}

	.image{
		width: calc(100% - 75vw);
		height: auto;
		margin: 0.5rem 1rem;
	}

	.description{
		height: 50%;
	}

	.info-livres{
		font-size: 1rem;
		margin:0 auto;
		text-align:center;
		display:flex;
		flex-direction:column;
	}

	.titre-livre{
		margin: 0.5rem auto;
		padding: 2rem auto;
		width: 100%;
		text-align: left;
		font-size: 1rem;
		text-align: center;
	}

	.autheur{
		font-size: .8rem;
		width: 100%;
		text-align: center;
	}

	.genre{
		font-size: 1rem;
		margin: .4rem auto;
		color: var(--text-color-rgba);
	}

	.description-text{
		font-size: 1rem;
		padding: .5rem;
		width: 95%;
		height: auto;
		margin:0 auto;
		line-height:1.5rem;
		text-align: justify; 
	}

	.links{
		display:flex;
		flex-direction: row;
	}

	.btn{
		all: unset;
		display:flex;
		justify-content: space-around;
		align-items: center;
		background-color: var(--link-color);
		width: 30%;
		margin: 1rem auto;
		height: auto;
		padding: 0.6rem;
		color: #fff;
		cursor: pointer;
		border-radius: 3px;
		font-size: calc(100% - 25%);
	}

	.fab{
		color: var(--text-color); 
		font-size: 1rem;
	}
  /*fin de à copier partout */
	footer{
		height: 15vh;
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		align-items: center;
	}

	.footer-social .fab{
		font-size:1.2rem;
	}
}

/*=====  End of Tablet comment block  ======*/

