@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root{
	--primary-color: #0d0d0d;
	--primary-color-rgb: rgb(13,13,13);
	--primary-color-rgb: rgba(13,13,13,0.5);
	--secondary-color: #f2f2f2;
	--secondary-color-rgb: rgb(242,242,242);
	--secondary-color-rgb: rgba(242,242,242,0.5);
	--text-color: #404040;
	--text-color-rgb: rgb(64,64,64);
	--text-color-rgba: rgba(64,64,64,0.5);
	--link-color: #eab436;
	--link-color-rgb: rgb(234,180,54);
	--link-color-rgba: rgba(234,180,54,0.5);
	--main-color: rgb(241,242,246);
	--box-shadow:  rgba(115,115,115,0.3);
}

*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

a{
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

/*=============================================
=            Container comment block            =
=============================================*/

.container{
  display: grid;
  grid-template-areas:
    "h h h h h h h h h h h h "
    "m m m m m m m m m m m m "
		"f f f f f f f f f f f f "
  ;
}

/*=====  End of Container comment block  ======*/



/*=============================================
=            Header comment block            =
=============================================*/

.header{
  grid-area: h;
  width:100%;
  height: 6vh;
  background-color:var(--text-color-rgb);
  display:flex;
  justify-content:space-between;
  align-items: center;
  color: var(--link-color);
}

.logo{
  margin-left:1rem;
}
.nav-list{
  list-style: none;
  display:flex;
  justify-content: space-between;
}

.list-item{
  margin-right: 1rem;
  cursor: pointer;
}

.list-item:hover{
  color: var(--secondary-color);
}

.hammenu{
	display: none;
}

/*=====  End of Header comment block  ======*/



/*=============================================
=            Main comment block            =
=============================================*/

.aside{
	grid-area: a;
	align-self: left;
	display:flex;
	flex-direction:column;
	width: 25vw;
	margin: 0;
	text-align: center;
	background-color: var(--text-color-rgba);
	color: var(--secondary-color);
}
  
.aside h1{
	margin-bottom:1rem;
	font-size:2rem;
	letter-spacing: .2rem;
	color: var(--link-color);
}
  
.aside img{
	border-radius: 50%;
	width: 80%;
	transform: scale(.6);
}
  
.main{
  grid-area: m;
  display: flex;
  flex-direction: column;
  background-color: (var(--main-color));
}

.card{
	display:flex;
	justify-content:space-between;
	width:80%;
	margin: 3rem auto;
	/* background-color: var(--secondary-color); */
	height: 380px;
	border-bottom: 1px solid var(--text-color-rgba);
	padding-bottom: 5rem;
}

.description{
	color: var(--text-color);
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	margin-right: 1rem;
	margin-left: 3rem;
}

.titre-livre{
	margin-top: 1.5rem;
  text-transform: uppercase;
	letter-spacing: .05rem;
	color: var(--primary-color);
}
.autheur{
	margin: 0.5rem 0;
	font-size: 1rem;
}
.description .genre{
	margin-bottom:2.5rem;
}

.description-text{
	margin-bottom: 2.8rem;
	/* color: var(--text-color-rgb); */
}


.img{
	display:flex;
	align-self:center;
	width: 300px;
	height: 408px;
	margin:0 1rem;
	/* border: 2px solid var(--link-color); */
	box-shadow: 5px 5px 5px var(--box-shadow), -5px -5px 5px var(--box-shadow);
	/* transform: scale(1.2); */
}
.links{
	display:flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.btn{
	all: unset;
	display:flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--link-color);
	width: 33%;
	min-height: 1.2rem;
	padding: 0.6rem;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
}

.fab{
	color: var(--text-color); 
	font-size: 1.5rem;
}
/*=====  End of Main comment block  ======*/


/*=============================================
=            Footer comment block            =
=============================================*/

footer{
	width: 100%;
	height: 100px;
	background-color: var(--text-color);
	display: flex;
	justify-content: space-between;
	padding: .7rem .5rem;
	align-items: center;
}

footer div{
	height: 100%;
	display:flex;
	align-items:center;
	color: var(--secondary-color);
}

.footer-contact{
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	flex: 1;
}

.footer__label{
	color: var(--link-color);
	padding: 0 .4rem;
}

.footer-social{
	border-right: 1px solid var(--secondary-color-rgba);
	border-left: 1px solid var(--secondary-color-rgba);
	border-radius: 3px;
	flex: 2;
}

.footer-social{
	justify-content: center;
}

.footer-social .fab{
	margin: 0 .8rem;
	font-size: 2.4rem;
	cursor: pointer;
	color: var(--link-color);
}

.fab:hover{
	color: var(--secondary-color);
}

.footer-copy{
	flex: 1;
	justify-content: flex-start;
	text-align: right;
	padding: 0 .8rem;
}

/*=====  End of Footer comment block  ======*/

