@import url('https://fonts.googleapis.com/css?family=Montserrat');


:root{
	--primary-color: #0d0d0d;
	--primary-color-rgb: rgb(13,13,13);
	--primary-color-rgba: rgba(13,13,13,0.5);
	--secondary-color: #f2f2f2;
	--secondary-color-rgb: rgb(242,242,242);
	--secondary-color-rgba: rgba(242,242,242,0.5);
	--text-color: #404040;
	--text-color-rgb: rgb(64,64,64);
	--text-color-rgba: rgba(64,64,64,0.5);
	--link-color: #eab436;
	--link-color-rgb: rgb(234,180,54);
	--link-color-rgba: rgba(234,180,54,0.5);
  --box-shadow:rgba(64,64,64,0.2);
}

*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
}

a{
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

li{
  list-style-type: none;
}

/*=============================================
=            Container comment block            =
=============================================*/

.container{
  display: grid;
	grid-template-rows: auto 100% auto;
  grid-template-areas:
    "h h h h h h h h h h h h "
    "m m m m m m m m m m m m "
		"f f f f f f f f f f f f "
  ;
  /* background: url("https://source.unsplash.com/lR8E-4q3ux0/"); */
  background-size: cover;
  height: 100%;
}

/*=====  End of Container comment block  ======*/



/*=============================================
=            Header comment block            =
=============================================*/

.header{
  grid-area: h;
  width:100%;
  height: 6vh;
  background-color:var(--text-color-rgb);
  display:flex;
  justify-content:space-between;
  align-items: center;
  color: var(--link-color);
}

.logo{
  margin-left:1rem;
}
.nav-list{
  list-style: none;
  display:flex;
  justify-content: space-between;
}

.list-item{
  margin-right: 1rem;
  cursor: pointer;
}

.list-item:hover{
  color: var(--secondary-color);
}

.hammenu{
	display: none;
}

/*=====  End of Header comment block  ======*/


/*=============================================
=            Main comment block            =
=============================================*/

.main-content{
	grid-area: m;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: auto;
	height: 100%;
	width: 95%;
	margin: auto;
	padding: 2rem;
}

.main-logo{
	margin: 0 auto; 
	padding-top: 2rem;
	width: 35vw;
	display:flex;
	flex-direction:column;
	align-items: center;
	text-align: center;
}

.logo-tosekwa{
	width: 300px;
	height: 300px;
}

.youtube-video{
	width: 35vw;
	height: auto;
	margin: 3rem;
	display:flex;
	flex-direction: column;
	align-items:center;
	font-family: 'Montserrat', sans-serif;
	padding:2rem;
	border-radius:3px;
	background-color: var(--secondary-color-rgba);
}

.details{
	margin: .8rem auto;
	width:409px;
	height: auto;
	text-align:justify;
}

.details h4{
	margin: .4rem 0;
	color: var(--primary-color);
}

.details p{
	color: var(--text-color);
}

/*=====  End of Main comment block  ======*/



/*=============================================
=            Footer comment block            =
=============================================*/


footer{
	margin-top:3rem;
	grid-area: f;
	width: 100%;
	height: 100px;
	background-color: var(--text-color);
	display: flex;
	justify-content: space-between;
	padding: .7rem .5rem;
	align-items: center;
}

footer div{
	height: 100%;
	display:flex;
	align-items:center;
	color: var(--secondary-color);
}

.footer-contact{
	flex-direction:column;
	justify-content:center;
	align-items:flex-start;
	flex: 1;
}

.footer__label{
	color: var(--link-color);
	padding: 0 .4rem;
}

.footer-social{
	border-right: 1px solid var(--secondary-color-rgba);
	border-left: 1px solid var(--secondary-color-rgba);
	border-radius: 3px;
	flex: 2;
}

.footer-social{
	justify-content: center;
}

.footer-social .fab{
	margin: 0 .8rem;
	font-size: 2.4rem;
	cursor: pointer;
	color: var(--link-color);
}

.fab:hover{
	color: var(--secondary-color);
}

.footer-copy{
	flex: 1;
	justify-content: flex-start;
	text-align: right;
	padding: 0 .8rem;
}

/*=====  End of Footer comment block  ======*/

