<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Admin</title>
  <link rel="stylesheet" href="css/admin.css">
</head>

<body>
  <div class="container">
    <% include layout/header %>
    <main class="main-content">
      <% if(errorMessage != undefined){ %>
      <pre><%= errorMessage %></pre>
      <% } %>
      <form action="/admin" method="post" class=form--section>
        <div class=form--title><strong class=form--title--top>Admin Login</strong></div>
        <div class="form--inputs">
          <input type="text" name="username" id="username" placeholder="Username" required>
          <input type="password" name="password" id="password" placeholder="Password" class="form--password" required>
          <button type="submit" class="btn-submit">Login</button>
        </div>
      </form>
    </main>
    <% include layout/footer %>
  </div>
</body>

</html>