<footer>
  <div class="footer-contact">
    <p><strong class="footer__label">Email: </strong>lorem@gmail.com</p>
    <p><strong class="footer__label">Tel:</strong> 06 XX XX XX XX</p>
  </div>
  <div class="footer-social">
    <i class="fab fa-facebook-square"></i>
    <i class="fab fa-twitter"></i>
    <i class="fab fa-instagram"></i>
  </div>
  <div class="footer-copy">
    <strong class="footer__label">&copy;</strong> By Francisco Mambo
  </div>
</footer>