<div class="header">
  <div class="logo">
    <a href="/">D. Mumengi</a>
  </div>
  <div class="navbar">
    <ul class="nav-list">
      <li class="list-item"><a href="/">Home</a></li>
      <li class="list-item"><a href="/biographie">Biographie</a></li>
      <li class="list-item"><a href="/livres">Livres</a></li>
      <li class="list-item"><a href="/tosekwatv">Tosekwa Tv</a></li>
      <li class="list-item"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="hammenu">
    <i class="fas fa-bars"></i>
  </div>
</div>