<div class="header">
  <div class="logo">
    <a href="/">D. Mumengi</a>
  </div>
  <div class="navbar" id="navbar">
    <ul class="nav-list">
      <li class="list-item"><a href="/">Accueil</a></li>
      <li class="list-item"><a href="/biographie">Biographie</a></li>
      <li class="list-item dropdown-list" id="dropdown-list"><a href="/livres" id="dropdown-link">Livres <span id="menu-arrow"
            class="menu-arrow">&dtri;</span></a>
        <ul class="dropdown-item" id="dropdown-item">
          <li><a href="/livrebleu">Livre bleu</a></li>
        </ul>
      </li>
      <li class="list-item"><a href="/tosekwatv">Tosekwa Tv</a></li>
      <li class="list-item"><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="hammenu" id="hammenu">
    <i class="fas fa-bars"></i>
  </div>
</div>