@import 'basicConfig';
@import 'navbar';

/*=============================================
=            Main comment block            =
=============================================*/
  
.main-content{
  grid-area: m;
  display: flex;
  flex-direction: column;
  background-color: (var(--main-color));
}

.card{
	display:flex;
	justify-content:space-between;
	width:80%;
	margin: 3rem auto;
	height: 400px;
	border-bottom: 1px solid var(--text-color-rgba);
	padding-bottom: 5rem;
}

.description{
	color: var(--text-color);
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	margin: 1rem 1rem;;
}

.titre-livre{
  text-transform: uppercase;
	letter-spacing: .05rem;
	color: var(--primary-color);
	margin:0;
}
.autheur{
	margin: 0.5rem 0;
	font-size: 1rem;
}
.description .genre{
	margin-bottom:2.5rem;
}

.description-text{
	margin-bottom: 2rem;
	line-height: 1.5rem;
}

.image{
	display:flex;
	align-self:center;
	width: 300px;
	height: 408px;
	min-width: 300px;
	min-height: 408px;
	margin:0 1rem;
	box-shadow: 5px 5px 5px var(--box-shadow), -5px -5px 5px var(--box-shadow);
}
.links{
	display:flex;
	justify-content: space-between;
	padding-bottom: 1rem;
}

.btn{
	all: unset;
	display:flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--link-color);
	width: 33%;
	min-height: 1.2rem;
	padding: 0.6rem;
	color: #fff;
	cursor: pointer;
	border-radius: 10px;
	font-size: calc(100%-25%);
}

.fab{
	color: var(--text-color); 
	font-size: 1.5rem;
}
/*=====  End of Main comment block  ======*/

@import 'footer';

@media screen and (max-width: 1200px){

	.card{
		width: 100%;
	}
	.description-text{
		width: 100%;
	}
}



/*=============================================
=            Tablet comment block            =
=============================================*/
@media screen and (max-width: 840px){

	*{
		margin:0;
		padding:0;
	}
	/* à copier partout */
 
  .header{
		position: relative;
		width:100%;
		min-height: 3rem;
		background-color:var(--text-color-rgb);
	}
	
	.navbar{
		display:none;
	}
	.hammenu{
		display:flex;
		position: absolute;
		top: .5rem;
		right:1rem;
		font-size:1.6rem;
		cursor: pointer;
	}
	
	.nav-list{
		width:100%;
		height:100%;
		display:flex;
		flex-direction:column;
		align-items:center;
		justify-content: space-between;
	}
	
	.list-item{
		width:100%;
    padding: .5rem;
    border-bottom: 1px solid var(--link-color);
		height: 1.2rem;
	}
	.list-item a{
		width:100%;
		padding-left: 1rem;
	}

	.list-item:hover{
		color:#fff;
		background-color: var(--text-color);
	}

	.dropdown-item{
		position: absolute;
		left: 6rem;
		top:0;
		padding:.5rem 0;
	}

	.menu-arrow{
		transform: rotate(90deg);
	}

	.active-navbar{
		position: absolute;
		top:3rem;
		flex-direction:column;
		display: flex;
		background-color: var(--secondary-color);
		color: var(--link-color);
		width: 100vw;
		height: auto;
	}

	.content-margin{
		margin-top: 10rem;
	}

	.main-content{
		width:100%;
		height: auto;
		display:flex;
		flex-direction: column;
		align-items: center;
	}

	.card{
		display: flex;
		flex-direction:column;
		align-items: center;
		margin: 1rem auto;
		padding: 0;
		width: 100vw;
		height: auto;
		/* background-color: #eee; */
	}

	.image{
		width: calc(100% - 75vw);
		height: auto;
		margin: 0.5rem 1rem;
	}

	.description{
		height: 50%;
	}

	.info-livres{
		font-size: 1rem;
		margin:0 auto;
		text-align:center;
		display:flex;
		flex-direction:column;
	}

	.titre-livre{
		margin: 0.5rem auto;
		padding: 2rem auto;
		width: 100%;
		text-align: left;
		font-size: 1rem;
		text-align: center;
	}

	.autheur{
		font-size: .8rem;
		width: 100%;
		text-align: center;
	}

	.genre{
		font-size: 1rem;
		margin: .4rem auto;
		color: var(--text-color-rgba);
	}

	.description-text{
		font-size: 1rem;
		padding: .5rem;
		width: 95%;
		height: auto;
		margin:0 auto;
		line-height:1.5rem;
		text-align: justify; 
	}

	.links{
		display:flex;
		flex-direction: row;
	}

	.btn{
		all: unset;
		display:flex;
		justify-content: space-around;
		align-items: center;
		background-color: var(--link-color);
		width: 30%;
		margin: 1rem auto;
		height: auto;
		padding: 0.6rem;
		color: #fff;
		cursor: pointer;
		border-radius: 3px;
		font-size: calc(100% - 25%);
	}

	.fab{
		color: var(--text-color); 
		font-size: 1rem;
	}

}

/*=====  End of Tablet comment block  ======*/

@media screen and (max-width: 480px){
	.btn{
		width: 35%;
		text-align: center;
	}
}

